{
  "singleQuote": false,
  "jsxSingleQuote": false,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "trailingComma": "none",

  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/views/(.*)$",
    "^@/widgets/(.*)$",
    "^@/features/(.*)$",
    "^@/entities/(.*)$",
    "^@/shared/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
